/* styles.css */

/* Logo Styles */
.logo {
    float: left;
    padding: 0;
    margin: 0; /* Add this line to remove margin */
    margin-top: -8px; /* Adjust the margin-top value as needed */
}

.logo img {
    max-height: 65px;
}

/* Hide all slides by default */
.carousel .slide {
    position: absolute;
    opacity: 1;
    animation: fadeInOut 15s infinite; /* Apply the animation */
}

/* Show the first slide */
.carousel .slide:first-child {
    position: relative;
    opacity: 50;
    
}
/* Show the first slide */
.carousel .slide {
    position: relative;
    opacity: 50;

.carousel {
    white-space: nowrap; /* Prevent images from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.carousel img {
    display: inline-block; /* Display images in a row */
    max-width: 100%; /* Ensure images don't exceed the width of the container */
    vertical-align: top; /* Align images to the top of the container */
}
   
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Louis George Cafe, sans-serif;
    line-height: 1.7;
    background-color: #ffffff;
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
    
}

header {
    background-color: #f2f2f2;
    color: #000000;
    padding: 16px 25px;
    text-align: right;
}


header h1 {
    margin: 70px;
    font-size: 110px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 50px 0;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #000000; /* titulo de todos os textos */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffe7c0;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
}

/* styles.css */

#about {
    padding: 50px 0;
    background-color: #f2f2f2; /* Optional: Add background color */
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

/* styles.css */

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    flex: 1;
    padding-right: 20px;
    text-align: left; /* Center-align the text */
}

.text h2 {
    margin-bottom: 10px;
}

.text p {
    margin-bottom: 20px; /* Add space between paragraphs */
}

.meet-button {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ffd188;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Lato', louis george cafe; /* Change the font family */
}

.meet-button:hover {
    background-color: #faebd3;
}


.image {
    flex: 1;
    margin-left: 20px;
}

.image img {
    width: 100%;
    display: block;
}


.image {
    flex: 1;
    margin-left: 100px; /* Add margin to move the image further to the right */
}

.image img {
    width: 95%;
    display:flex;
}


footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
